@media (min-width: 992px ){

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px !important; 
  
}

}
@media screen and (min-width: 1450px) {

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px !important; 
    font-size: 17px;
  
}

}
@media screen and (min-width: 1250px) and (max-width: 1450px)  {

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px !important; 
    font-size: 17px;
  
}

}

@media screen and (min-width: 980px) and (max-width: 1250px)  {

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 14px !important; 
  font-size: 17px;
}

}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
 padding:0px 65px !important;
}

.navbar-login-signup{
  white-space: nowrap;
  padding: 4px 13px;
  border: 1px solid #2B2676;
  border-radius: 10px;
  font-size: 16px;;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select
,.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-right: 10px !important;
  border-radius: 10px !important;
 
}
.navbar-signup{
  background-color: #2B2676 ;
  color: white;
}