
#unique-word-def{
    background-color:  #9492ba;
    padding:20px !important;
}



:where(.css-dev-only-do-not-override-2q8sxy).ant-card .ant-card-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 56px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border-bottom: none !important;
    border-radius: 8px 8px 0 0;
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-btn-primary {
    color: #fff;
    background-color:  #2b2676;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-card .ant-card-body {
    padding: 26px;
    border-radius: 0 0 8px 8px;
}

.countries-custom-card {
    border: 2px solid #2b2676 !important;
    background-color: white !important;
    color: #2b2676 !important;
    border-radius: 15px !important;
    text-align: center;
}

 /* Add these styles to your CSS or style sheet */
 ::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color:  #2b2676; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the scrollbar thumb */
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Set the color of the scrollbar track */
  }
  :where(.css-dev-only-do-not-override-2q8sxy).ant-card-hoverable {
    cursor: pointer;
    transition: none !important;
}


:where(.css-dev-only-do-not-override-2q8sxy).ant-card-hoverable:hover {
    border-color:none !important;
    box-shadow: none   !important;
}

body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
  }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   